<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="TarifsPresse.Properties.Settings.ConnectionString"
        connectionString="DATA SOURCE=PITAPRESSFR01.PIGE;PASSWORD=tritor6;PERSIST SECURITY INFO=True;USER ID=JMDUHEN"
        providerName="Oracle.DataAccess.Client" />
    <add name="TarifsPresse.Properties.Settings.ConnectionString1"
        connectionString="DATA SOURCE=PITAPRESSFR01.PIGE;PASSWORD=delostro9;PERSIST SECURITY INFO=True;USER ID=JTILLAY"
        providerName="Oracle.DataAccess.Client" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
