<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <!--  -->
  <!-- trace configuration -->
  <!-- values are 0 for None, 1 for Error, 2 for Warning, 3 for Info, 4 for Verbose/-->
  <system.diagnostics>
    <trace autoflush="true" indentsize="2"></trace>
    <switches>
      <!-- values are 0 for None, 1 for Error, 2 for Warning, 3 for Info, 4 for Verbose/-->
      <add name="Default" value="4"/>
    </switches>
  </system.diagnostics>
  <!-- -->

  <appSettings>
    <!-- ** TRACE PARAMETERS                                                 ** -->
    <!-- directory and file  path to log file -->
    <add key="TraceLogPath" value="C:\LOG\kantar.MediaPlanning.AffinageAutoStart.log\"/>
    <!-- number max of trace file -->
    <add key="MaxLogFile" value="7"/>
    <!-- TraceListenerName -->
    <add key="TraceListenerName" value="AffinageAutoStart"/>
    
    <!-- prod GroupM
    <add key="TargetConsoPath" value="\\parappp01104\ARTRADIO\CONSOLIDATION\"/>
    <add key="TargetAffinageAutoPath" value="\\PARAPPP01104\ARTRADIO\AFFINAGEAUTO\"/>
    <add key="FileForceReStart" value="ConsoAffinageAuto.rst"/>
    <add key="UserFile" value="user.txt"/>
    <add key="BaseConsoFile" value="KeyConso.db"/>
    -->

    <!-- test -->
    <add key="TargetConsoPath" value="D:\2-Developement\MediaPlanning\MediaPlanning\CONSOLIDATION\"/>
    <add key="TargetAffinageAutoPath" value="D:\2-Developement\MediaPlanning\MediaPlanning\AFFINAGEAUTO\"/>
    <add key="FileForceReStart" value="ConsoAffinageAuto.rst"/>
    <add key="UserFile" value="user.txt"/>
    <add key="BaseConsoFile" value="KeyConso.db"/>
    
  </appSettings>
  
</configuration>